
#product-pic{
    height: 300px;
}
#order-pic{
    height: 300px;
}

.bottom{
    position: absolute;
    text-decoration: none;
    color: White;
    font-family: "Pacifico", serif;
    top:70%;
    right: 40%;
    font-size: 40px;

}